In [70]:
# installing pandas for opening the csv file

import pandas as pd

import datetime

import calendar

from datetime import date

# open the csv to a variable

schedule_data = pd.read_csv('SCHEDULER.csv')

# read the csv file using pandas
schedule_data

,S.NO,DATE,START,END,DURATION,SUBJECT,Unnamed: 6,Unnamed: 7,S.NO.1,WISH LIST
0,1.0,10/07/22,13:54:00,14:54:30,01:00:30,Python-Django,NaN,NaN,1.0,download a travel page and run it through django
1,2.0,10/07/22,16:59:02,17:58:10,00:59:08,Python-Django,NaN,NaN,2.0,enumeration in python
2,3.0,10/07/22,18:29:08,21:31:58,03:02:50,Python-Django,NaN,NaN,3.0,edit color of you tube videos
3,4.0,11/07/22,05:48:05,07:30:00,01:41:55,Python-Django,NaN,NaN,4.0,django web app login and logout with bank balance
4,5.0,11/07/22,19:34:33,21:57:31,02:22:58,Python-Django,NaN,NaN,5.0,create bancs application
...,...,...,...,...,...,...,...,...,...,...
108,109.0,04/09/22,16:46:00,17:17:21,00:31:20,CS50 – Data Structures,NaN,NaN,NaN,NaN
109,110.0,04/09/22,19:50:27,20:10:00,00:19:32,Open CV,NaN,NaN,NaN,NaN
110,111.0,04/09/22,21:00:22,NaN,-21:00:23,Python Projects,NaN,NaN,NaN,NaN
111,112.0,NaN,NaN,NaN,00:00:00,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,00:00:00,NaN,NaN,NaN,NaN,NaN

In [71]:


# converting date into a week day

# getting date column

date_column = schedule_data['DATE']

date_column

0      10/07/22
1      10/07/22
2      10/07/22
3      11/07/22
4      11/07/22
         ...
108    04/09/22
109    04/09/22
110    04/09/22
111         NaN
112         NaN
Name: DATE, Length: 113, dtype: object

In [72]:
# storing the unique dates in a variable 
coding_dates = date_column.unique()

coding_dates

array(['10/07/22', '11/07/22', '12/07/22', '13/07/22', '14/07/22',
       '15/07/22', '16/07/22', '17/07/22', '18/07/22', '21/07/22',
       '22/07/22', '23/07/22', '24/07/22', '25/07/22', '26/07/22',
       '27/07/22', '28/07/22', '29/07/22', '30/07/22', '31/07/22',
       '01/08/22', '02/08/22', '03/08/22', '04/08/22', '05/08/22',
       '06/08/22', '07/08/22', '08/08/22', '24/08/22', '25/08/22',
       '26/08/22', '27/08/22', '28/08/22', '29/08/22', '30/08/22',
       '31/08/22', '01/09/22', '02/09/22', '03/09/22', '04/09/22', nan],
      dtype=object)

In [73]:
# Converting string/float into datetime object
coding_dates = pd.to_datetime(coding_dates, format="%d/%m/%y")
coding_dates

DatetimeIndex(['2022-07-10', '2022-07-11', '2022-07-12', '2022-07-13',
               '2022-07-14', '2022-07-15', '2022-07-16', '2022-07-17',
               '2022-07-18', '2022-07-21', '2022-07-22', '2022-07-23',
               '2022-07-24', '2022-07-25', '2022-07-26', '2022-07-27',
               '2022-07-28', '2022-07-29', '2022-07-30', '2022-07-31',
               '2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-05', '2022-08-06', '2022-08-07', '2022-08-08',
               '2022-08-24', '2022-08-25', '2022-08-26', '2022-08-27',
               '2022-08-28', '2022-08-29', '2022-08-30', '2022-08-31',
               '2022-09-01', '2022-09-02', '2022-09-03', '2022-09-04',
                      'NaT'],
              dtype='datetime64[ns]', freq=None)

In [74]:
# Assining days to the date
def findDay(date):
    day, month, year = (int(i) for i in date.split('/'))
    date = datetime.date(year, month, day)
    return date.strftime('%A')

my_date = '31/08/2022'

print(findDay(my_date))

Wednesday